@model WebApplication1.Models.Expenditure

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày
        </dt>

        <dd>
            @Model.Date.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Số tiền
        </dt>

        <dd>
            @Model.Amount.ToString("N0")
        </dd>

        <dt>
            Ghi chú
        </dt>

        <dd>
            <pre>
                @Model.Note
            </pre>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Trở về", "Index")
</p>
